*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content{
  display: flex;
  gap: 30px;
  align-items: flex-end;
  inline-size: 1140px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content-list{
  block-size: 298px;
  overflow: auto;
}

.content-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.result-video-container{
  inline-size: 711px;
}