*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content{
  display: flex;
  gap: 30px;
  align-items: flex-end;
  inline-size: 1140px;
}
.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list{
  position: relative;
  block-size: 298px;
  overflow: auto;
}

.content__details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  inline-size: 100%;
  block-size: 100%;
}

.result__video-container{
  position: relative;
  inline-size: 711px;
  block-size: 386 px;
  margin-block-end: 16 px;
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.content__list-item:not(:last-of-type){
    margin-block-end: 30px;
  }

.content__video-card{
    display: flex;
    align-items: flex;
}

.content__video-card-descroption-container{
  flex-grow: 1px;
}
.content__video-card-thumbnail{
  min-inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form__fieldset-title{
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}